<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mars Plateau</title>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    @entryPointStyles('app')
    @entryPointScripts('app')
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"> 
    
    <script src="https://kit.fontawesome.com/c53fad1440.js" crossorigin="anonymous"></script>
    
  </head>
  <body class="bg-red-500 customfont h-screen w-screen flex justify-center">
    <plateau class="mt-3 border rounded mx-2 p-0 mb-28 resizeable w-9/12">
      <img 
        src="{{ asset('assets/images/mars-rover.png') }}" 
        class="rover ml">
    </plateau>

    <div class="text-black absolute bottom-0 place-self-center grid w-64 place-items-center">
      <position class="bg-white rounded-t-lg text-dark p-2 d-block w-2/3 border-bottom-0 rounded-bottom-0 row-span-1 text-center">
        <p class="inline text-xl">X: 0 | Y: 0</p>
      </position>
      <actions class="bg-white row-span-1 min-w-full block rounded-t-lg text-center">
          <button class="p-2 hover:bg-gray-200 rounded-md m-1 min-w-[55px]" onclick="">
            <i class="fa-solid fa-rotate-left text-4xl"></i>
          </button>
          <button class="p-2 hover:bg-gray-200 rounded-md m-1 min-w-[55px]">
            <i class="fa-solid fa-arrow-up text-4xl"></i>
          </button>
          <button class="p-2 hover:bg-gray-200 rounded-md m-1 min-w-[55px]">
            <i class="fa-solid fa-rotate-right text-4xl"></i>
          </button>
      </actions>
    </div>
  </body>
</html>