@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: url('https://fonts.googleapis.com/css2?family=Nunito&display=swap') format("truetype");
}

.customfont { 
    font-family: 'Nunito', sans-serif;
}

.rover {
    height: 50px;
    rotate: calc(0 * 90deg);
}

.resizeable {
    resize: both;
    overflow: auto;
    border: 2px solid black;
}